{# app/Resources/views/Form/fields.html.twig #}
{% block integer_widget %}
    <div class="integer_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}
{% block text_widget %}
    <div class="text_widget">
        <input type="text" {{ block('attributes') }} value="{{ value }}" />
    </div>
{% endblock %}
