#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 77px;
    border-radius: 9px;
    position: absolute;
    margin-top: -8px;
    font-size: 11px;
}

@media (max-width: 767px) {
    #notification_count {
        margin-left: 35px;
        margin-top: -8px;
    }
}
