{% block body %}
        <div class="col-sm-6">{{ form_widget(form.tipoRespuesta) }}</div>
        <div class="col-sm-2">{{ form_widget(form.cantidad) }}</div>
        <div class="col-sm-2">{{ form_widget(form.porcentaje) }}</div>
{% endblock %}
