<div class="row widget">
    <div class="col-xs-12">
        <h4>Menu de mantenimiento</h4>
    </div>
</div>
<div class="row widget">
    <div class="col-xs-12">
        <div id='cssmenu'>
            <ul>
                <li><a href='{{ path('uci_asistente_academica_indicecuestionario') }}'><span>Lista de cuestionarios</span></a></li>
                <li><a href="{{ path('uci_asistente_academica_registrarcuestionario') }}"><span>Nuevo cuestionario</span></a></li>
            </ul>
        </div>
    </div>
</div>
