{% block body %}
        <div class="col-sm-6">{{ form_widget(form.grupoProcesos) }}</div>
        <div class="col-sm-2">{{ form_widget(form.cantidadG) }}</div>
        <div class="col-sm-2">{{ form_widget(form.porcentajeG) }}</div>
{% endblock %}
