{% block body %}
        <div class="col-sm-6">{{ form_widget(form.tipoRespuesta) }}</div>
        <div class="col-sm-2">{{ form_widget(form.cantidadTR) }}</div>
        <div class="col-sm-2">{{ form_widget(form.porcentajeTR) }}</div>
{% endblock %}
