{% block body %}
        <div class="col-sm-6">{{ form_widget(form.trianguloTalento) }}</div>
        <div class="col-sm-2">{{ form_widget(form.cantidadT) }}</div>
        <div class="col-sm-2">{{ form_widget(form.porcentajeT) }}</div>
{% endblock %}
