{% block body %}
        <div class="col-sm-6">{{ form_widget(form.areaConocimiento) }}</div>
        <div class="col-sm-2">{{ form_widget(form.cantidadA) }}</div>
        <div class="col-sm-2">{{ form_widget(form.porcentajeA) }}</div>
{% endblock %}
