{% block body %}
        <div class="col-sm-6">{{ form_widget(form.tipoPrueba) }}</div>
        <div class="col-sm-2">{{ form_widget(form.cantidadTP) }}</div>
        <div class="col-sm-2">{{ form_widget(form.porcentajeTP) }}</div>
{% endblock %}
