{% block body %}
    <div class="row">
        <div class="col-sm-6">{{ form_widget(form.areaConocimiento) }}</div>
        <div class="col-sm-3">{{ form_widget(form.cantidadA) }}</div>
        <div class="col-sm-3">{{ form_widget(form.porcentajeA) }}</div>
    </div>
{% endblock %}
