{% block body %}
        <div class="col-sm-6">{{ form_widget(form.libro) }}</div>
        <div class="col-sm-2">{{ form_widget(form.cantidadL) }}</div>
        <div class="col-sm-2">{{ form_widget(form.porcentajeL) }}</div>
{% endblock %}
