<div class="row widget">
    <div class="col-xs-12">
        <h4>Menu de mantenimiento</h4>
    </div>
</div>
<div class="row widget">
    <div class="col-xs-12">
        <div id='cssmenu'>
            <ul>
                <li><a href='{{ path('uci_administrador_indicecategoria') }}'><span>Lista de generaciones</span></a></li>
                <li class='active has-sub'><a href='#'><span>Nuevo</span></a>
                    <ul>
                        <li><a data-toggle="modal" href="{{ path('uci_administrador_addcategoria') }}" data-target="#myModal">Generación</a>
                        </li>
                        <li><a href='#'><span>Curso</span></a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</div>
