<div class="row widget">
    <div class="col-xs-12">
        <h4>Menu de mantenimiento</h4>
    </div>
</div>
<div class="row widget">
    <div class="col-xs-12">
        <div id='cssmenu'>
            <ul>
                <li><a href='{{ path('uci_administrador_indicepreguntas') }}'><span>Lista de preguntas</span></a></li>
                <li class='active has-sub'><a href='#'><span>Nueva pregunta</span></a>
                    <ul>
                        <li><a data-toggle="modal" href="{{ path('uci_administrador_eligeTipoPregunta') }}" data-target="#myModal">PMBok</a></li>
                        <li class='last'><a href='#'><span>Otro</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
