<div class="row widget">
    <div class="col-xs-12">
        <h4>Menu de mantenimiento</h4>
    </div>
</div>
<div class="row widget">
    <div class="col-xs-12">
        <div id='cssmenu'>
            <ul>
                <li><a href='{{ path('uci_administrador_adduser') }}'><span>Nuevo</span></a></li>
                <li class='active has-sub'><a href='#'><span>Ingresar</span></a>
                    <ul>
                        <li><a href='#'><span>PMBok</span></a>
                        </li>
                        <li><a href='#'><span>Otro</span></a>
                        </li>
                    </ul>
                </li>
                <li><a href='#'><span>Borrar</span></a></li>
            </ul>
        </div>
    </div>
</div>
