<div class="row widget">
    <div class="col-xs-12">
        <h4>Menu de mantenimiento</h4>
    </div>
</div>
<div class="row widget">
    <div class="col-xs-12">
        <div id='cssmenu'>
            <ul>
                <li><a href='{{ path('uci_administrador_indicecuestionario') }}'><span>Lista de cuestionarios</span></a></li>
                <li><a data-toggle="modal" href="{{ path('uci_administrador_eligeTipoPregunta') }}" data-target="#myModal"><span>Nuevo cuestionario</span></a></li>
            </ul>
        </div>
    </div>
</div>
