{% extends 'UciAdministradorBundle::base.html.twig' %}

{% block header %}
    <header id="head" class="secondary"></header>
    {% endblock %}

{% block body %}
    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="index.html">Inicio</a></li>
            <li class="active">Mantenimiento de libros</li>
        </ol>
        <div class="row">
            <!-- Sidebar -->
            <aside class="col-md-4 sidebar sidebar-left">
                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>Menu de mantenimiento</h4>
                    </div>
                </div>
                <div class="row widget">
                    <div class="col-xs-12">
                        <div id='cssmenu'>
                            <ul>
                                <li><a href='#'><span>Actualizar</span></a></li>
                                <li class='active has-sub'><a href='#'><span>Ingresar</span></a>
                                    <ul>
                                        <li><a href='#'><span>PMBok</span></a>
                                        </li>
                                        <li><a href='#'><span>Otro</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href='#'><span>Borrar</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- /Sidebar -->

            <!-- Article main content -->
            <article class="col-sm-8 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Nuevo Libro</h1>
                </header>

                <p>
                    Ingrese los datos del libro
                </p>
                <br>
                <form>
                    <div class="top-margin">
                        <label>Titulo <span class="text-danger">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="top-margin">
                        <label>Año <span class="text-danger">*</span></label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="top-margin">
                        <label>Autor <span class="text-danger">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="top-margin">
                        <label>Descripción <span class="text-danger">*</span></label>
                        <input type="password" class="form-control">
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-lg-4 text-right">
                            <button class="btn btn-action" type="submit">Guardar</button>
                        </div>
                    </div>
                </form>
            </article>
            <!-- /Article -->
        </div>
    </div>	<!-- /container -->

{% endblock %}
